@charset "UTF-8";
$regular: "Montserrat", sans-serif;
$title: "Barlow Condensed", sans-serif;

$bgcolor: #FFF;


@mixin text {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
}

@mixin img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

#es-rc #es-maybelline.es-maybelline {
  margin: 0 auto;
  padding: 0;
  font-family: $regular;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
  overflow: hidden;
  background-color: $bgcolor;

  * {
      box-sizing: border-box;
  }

  .es-kv {
    margin: 0;
    padding: 0;
    position: relative;
    &__bg {
      @include img;
    }
    &__logo {
      width: 60%;
      position: absolute;
      top: 1%;
      right: 1%;
      z-index: 3;
    }
    &__packshots {
      position: relative;
      @include img;
      width: 100%;
      z-index: 2;
    }
    &__texts {
      position: relative;
      padding: 20px 15px;
      width: 100%;
    }
    &__title {
      @include text;
      color: black;
      font-family: $title;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
    }
    &__text {
      @include text;
      color: black;
      font-family: $title;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 22px;
      text-align: center;
    }

  }

  .es-ba {
    padding: 0;
    margin: 0;
    position: relative;
    &__bg {
      @include img;
    }
    &__title {
      @include text;
      position: absolute;
      top: 2%;
      left: 2%;
      width: 53%;
      text-align: center;
      font-family: $title;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 30px;
    }
    &__wrapper {
      padding: 10px;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
    }
    &__item {
      position: relative;
    }
    &__image{
      @include img;
    }
    &__text {
      @include text;
      position: absolute;
      top: 3%;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      color: #F6E394;
    }
  }

  .es-info {
    padding: 0;
    margin: 0;
    position: relative;
    &__bg {
      @include img;
      display: none;
    }
    &__image {
      @include img;
    }
    &__imageWrapper {
      width: fit-content;
      border-radius: 25px;
      overflow: hidden;
    }
    &__wrapper {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      gap: 10px 0;
    }
    &__item {
      position: relative;
    }
    &__texts {
      width: 90%;
      position: absolute;
      top: 7%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__title {
      @include text;
      font-family: $title;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      &--1 {
        color: #F6E394;
      }
      &--2 {
        color: #CB8B92;
      }
    }
    &__text {
      @include text;
      font-family: $title;
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      &--1 {
        color: #F6E394;
      }
      &--2 {
        color: #CB8B92;
      }
    }
  }

  .es-ba2 {
    padding: 0 0 20px;
    margin: 0;
    position: relative;
    &__bg {
      @include img;
      display: none;
    }
    &__wrapper {
      position: relative;
      width: 94%;
      top: 3%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__image {
      @include img;
    }
    &__textWrapper {
      position: relative
    }
    &__texts {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: nowrap
    }
    &__column{
      width: 33.33%;
      height: 100%;
      position: relative;
    }
    &__title {
      @include text;
      position: absolute;
      top: 0.5%;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      font-size: 8px;
      color: #F6E394;
      left: 50%;
      transform: translateX(-50%);
    }
    &__before {
      @include text;
      position: absolute;
      bottom: 2%;
      right: 4%;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      font-size: 8px;
      color: #fff;
    }
    &__after {
      @include text;
      position: absolute;
      bottom: 47%;
      right: 4%;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      font-size: 8px;
      color: #FFF;
    }
  }

  .es-video {
    padding: 0;
    &__container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
    }
    &__wrapper {
      margin: 0 auto;
      width: 100%;
    }
    iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }

  .es-cross {
    padding: 60px 16px;

    &__header {
        text-align: center;
        padding-bottom: 30px;
    }
    &__title {
      @include text;
      color: black;
      font-family: $title;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 30px;
      text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px 8px;
        margin-top: 32px;
    }

    &__single {
        max-width: 375px;
        display: flex;
        align-items: center;
        flex-flow: column;
        color: black;
    }

    &__single:hover {
        .es-cross__img {
            transform: scale(1.05);
        }

        .es-cross__link {
            background-color: #FFF;
            color: #000;
            box-shadow: inset 0 0 0 2px #000;
        }
    }

    &__packshot {
        margin-bottom: 16px;
        padding-bottom: 16px;
        width: 80%;
    }

    &__img {
        max-height: 100%;
        transition: all 0.3s;
    }

    &__name {
        line-height: inherit;
        font-size: 30px;
        text-transform: uppercase;
        font-family: $title;
        text-align: center;
        margin-bottom: 8px;
        font-weight: 400;
    }

    &__desc {
        text-align: center;
        font-size: 18px;
        font-family: $title;
        margin-bottom: 32px;
    }

    &__link {
        margin: 0;
        line-height: inherit;
        font-size: 20px;
        background: black;
        color: #FFF;
        text-decoration: none;
        padding: 16px 40px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $regular;
        text-align: center;
        display: inline-block;
        transition: color 0.3s;
        width: 100%;
    }


}

@media (min-width: 768px) {
    .es-cross {
        position: relative;
        &__title {
          font-size: 60px;
        }
        &__container {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            gap: 32px 8px;
            margin-top: 32px;
        }

        &__single {
            min-width: 230px;
            width: 30%;
        }

        &__desc {
            height: 7em;
        }
    }
}


/**************************************/
/******* cross sell styles ************/
/**************************************/

.es-disclaimer {
    padding: 20px 16px;
    text-align: center;
    font-size: 13px;
}

/**************************************/
/*********** footer styles ************/
/**************************************/
.es-footer {
   margin: 0 auto;
   text-align: center;
    background-color: black;
    padding: 24px;
}
  @media screen and (min-width: 400px) {
    .es-ba2 {
      &__title {
        top: 1%;
        font-size: 10px;
      }
      &__before {
        font-size: 10px;
      }
      &__after {
        font-size: 10px;
      }
    }
  }

  @media screen and (min-width: 550px) {
    .es-kv {
      &__logo {
        width: 28%;
        top: 8%;
        right: 5%;
      }
      &__texts {
        width: 59%;
        position: absolute;
        top: 57%;
        left: 0;
      }
      &__title {
        color: white;
      }
      &__text {
        color: white;
        font-size: 22px;
      }
      &__packshots {
        position: absolute;
        width: 35%;
        top: 4%;
        right: 2%
      }
    }
    .es-ba {
      &__wrapper {
        position: absolute;
        width: 61%;
        bottom: 1%;
        left: 1%;
      }
    }
    .es-info {
      &__bg {
        display: block;
      }
      &__wrapper {
        width: 95%;
        position: absolute;
        top: 1%;
        left: 50%;
        transform: translateX(-50%);
        flex-wrap: nowrap;
        gap: 0;
      }
      &__imageWrapper {
        border-radius: 0;
      }
      &__item {
        margin: -2px;
      }
      &__title {
        font-size: 25px;
      }
      &__text {
        font-size: 20px;
      }
    }
    .es-ba2 {
      padding: 0;
      &__bg {
        display: block;
      }
      &__wrapper {
        position: absolute;
        width: 92%;
      }
      &__title {
        top: 1.5%;
        font-size: 14px;
      }
      &__before {
        font-size: 10px;
      }
      &__after {
        font-size: 10px;
      }
    }

  }
  @media screen and (min-width: 700px) {
    .es-kv {
      &__texts {
        width: 50%;
        position: absolute;
        top: 57%;
        left: 5%;
      }
      &__title {
        font-size: 45px;
      }
      &__text {
        font-size: 30px;
      }
    }
    .es-ba {
      &__text {
        font-size: 22px;
      }
      &__title {
        font-size: 40px;
        width: 60%;
      }
    }
    .es-info {
      &__title {
        font-size: 30px;
      }
      &__text {
        font-size: 25px;
      }
    }
    .es-ba2 {
      &__title {
        top: 1.5%;
        font-size: 18px;
      }
      &__before {
        font-size: 14px;
      }
      &__after {
        font-size: 14px;
      }
    }

  }
  @media screen and (min-width: 900px) {
    .es-kv {
      &__texts {
        width: 50%;
        position: absolute;
        top: 61%;
        left: 5%;
      }
      &__subtitle {
        font-size: 30px;
      }
      &__title {
        font-size: 60px;
      }
      &__text {
        font-size: 45px;
      }
    }
    .es-ba {
      &__text {
        font-size: 28px;
      }
      &__title {
        font-size: 50px;
        width: 60%;
      }
    }
    .es-info {
      &__title {
        font-size: 35px;
      }
      &__text {
        font-size: 30px;
      }
    }  
    .es-ba2 {
      &__title {
        top: 1.5%;
        font-size: 22px;
      }
      &__before {
        font-size: 20px;
      }
      &__after {
        font-size: 20px;
      }
    }
  }

  }